<div class="h-100vh niyam-selection-container">
    <div class="row mx-0 niyam-selection py-4 px-4">
        <div class="col-12 text-center">
            <img src="./../../../assets/img/temp_logo.png" class="mb-4" style="width: 15rem;" />
        </div>
        <ng-container *ngFor="let niyam of niyams">
            <div class="col-12 col-sm-6 niyam-card-container" style="margin-bottom: 5rem;">
                <div class="niyam-preview-card h-100 card shadow">
                    <div class="text-center niyam-card-img-container">
                        <img [src]="'./../../../assets/niyams/' + niyam?.id + '.png'" class="niyam-card-img" />
                    </div>
                    <div style="font-size: 5.4vh; font-weight: 900;" class="text-center text-white" [innerHTML]="niyamsCounter[niyam?.id]">
                    </div>
                    <div style="font-size: 3.0vh; font-weight: 900;" class="text-center text-white px-3" [innerHTML]="niyam[language]">
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
