::ng-deep.niyam-popup {
    .modal-dialog {
        min-width: 90vw;
    }
    .modal-content {
        // background-image: url();
        background: transparent !important;
        box-shadow: none !important;
    }
}

.niyam-detail-container {
    position: relative;
}

.niyam-detail-bg {
    z-index: -1;
    // background-image: url();
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.niyam-detail {
    z-index: 1;
    color: black;
    font-weight: 900;
    font-size: 2vw;
    padding: 4vw 15vw 4vw 10vw
}

.confirm-btn {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 2vw;
    outline: 0;
}