<div class="webcam-container" [ngClass]="{'blur-content' : currentCapture}" id="webcam-container">
    <div style="position: absolute; z-index: 101; top: 0; transform: scaleX(-1); text-align: center; width: 100%;">
        <img class="mt-3" style="width: 30rem; max-width: 50vw; border-radius: 0.3rem;" src="./../../../assets/img/temp_logo.png" />
    </div>
    <ng-container *ngIf="currentScreen?.lottie1">
        <lottie-player style="position: absolute; z-index: 100; transform: scaleX(-1);" [src]="currentScreen?.lottie1" background="transparent"  speed="2" loop autoplay >
        </lottie-player>
    </ng-container>
    <ng-container *ngIf="currentScreen?.lottie2">
        <lottie-player *ngIf="capturing" style="position: absolute; z-index: 99; transform: scaleX(-1);" [src]="currentScreen?.lottie2" background="transparent"  speed="2" [loop]="false" autoplay >
        </lottie-player>
    </ng-container>
    <ng-container *ngIf="currentScreen?.image1">
        <img [src]="currentScreen?.image1" style="z-index: 100; transform: scaleX(-1);" id="camera-overlay" class="camera-overlay" />
    </ng-container>
    <ng-container *ngIf="currentScreen?.image2">
        <img [src]="currentScreen?.image2" style="z-index: 99; transform: scaleX(-1);" class="camera-overlay" />
    </ng-container>
    <!-- <lottie-player style="position: absolute; z-index: 100" src="./../../../assets/overlays/overlay1.json" background="transparent"  speed="2" loop autoplay >
    </lottie-player> -->
    <!-- <lottie-player *ngIf="capturing" style="position: absolute; z-index: 99; transform: scaleX(-1);" src="./../../../assets/overlays/character1.json" background="transparent"  speed="2" [loop]="false" autoplay >
    </lottie-player> -->
    <!-- <img src="./../../../assets/overlays/demo.webp" id="camera-overlay" class="camera-overlay" /> -->
</div>

<div class="capture-loader">
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 3">
        <img src="./../../../assets/img/counter/3.png" />
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 2">
        <img src="./../../../assets/img/counter/2.png" />
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 1">
        <img src="./../../../assets/img/counter/1.png" />
    </div>
</div>

<div class="preview-container" *ngIf="currentCapture">
    <img class="preview-img app-fade" src="{{ currentCapture }}" />
    <div class="qrcode-section">
        <div class="qrcode-container app-fade" *ngIf="!preview_url">
            <div class="d-inline-block" style="width: 340px;">
                <circle-progress
                    [percent]="loading" [titleColor]="'#ffffff'" [unitsColor]="'#ffffff'" [outerStrokeColor]="'#2a6469'"
                    [radius]="100" [outerStrokeWidth]="18" [innerStrokeWidth]="18" [space]="-18"
                    [outerStrokeColor]="'#0071c5'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="54" [unitsFontSize]="24"
                    [showSubtitle]="false" [animation]="true" [animationDuration]="300" [startFromZero]="false"
                    [responsive]="true" [showZeroOuterStroke]="false">
                </circle-progress>
            </div>
        </div>
        <div class="qrcode-container app-fade" id="qrcode-container" *ngIf="preview_url">
            <qrcode [qrdata]="preview_url" [width]="340" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</div>

<div class="capturing-effect" *ngIf="capturingEffect">
</div>
