<div class="webcam-container" id="webcam-container">
    <lottie-player style="position: absolute; z-index: 100" src="./../../../assets/overlays/overlay1.json" background="transparent"  speed="2" loop autoplay >
    </lottie-player>
    <lottie-player style="position: absolute; z-index: 99; transform: scaleX(-1);" src="./../../../assets/overlays/character1.json" background="transparent"  speed="2" [loop]="true" autoplay >
    </lottie-player>
    <!-- <img src="./../../../assets/overlays/demo.webp" id="camera-overlay" class="camera-overlay" /> -->
</div>

<div class="capture-loader">
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 7 || timeLeft == 6">
        Ready?
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 5">
        4
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 4">
        3
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 3">
        2
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 2">
        1
    </div>
    <div class="capture-loader-count app-fade" *ngIf="timeLeft == 1">
        Smile !!!
    </div>
</div>

<div class="preview-container" *ngIf="currentCapture">
    <img class="preview-img" src="{{ currentCapture }}" />
    <div class="qrcode-section">
        <div class="qrcode-container app-fade" *ngIf="!preview_url">
            <div class="d-inline-block" style="width: 180px;">
                <circle-progress
                    [percent]="loading" [titleColor]="'#ffffff'" [unitsColor]="'#ffffff'" [outerStrokeColor]="'#2a6469'"
                    [radius]="100" [outerStrokeWidth]="18" [innerStrokeWidth]="18" [space]="-18"
                    [outerStrokeColor]="'#0071c5'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="54" [unitsFontSize]="24"
                    [showSubtitle]="false" [animation]="true" [animationDuration]="300" [startFromZero]="false"
                    [responsive]="true" [showZeroOuterStroke]="false">
                </circle-progress>
            </div>
        </div>
        <div class="qrcode-container app-fade" id="qrcode-container" *ngIf="preview_url">
            <qrcode [qrdata]="preview_url" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</div>

