::ng-deep.webcam-container {
    z-index: 1;
    position: relative;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
    transform: scaleX(-1);
    video {
        transform: rotate(90deg);
        // transform: scaleX(-1);
        // object-fit: cover;
        // width: 100%;
        height: 56%;
        margin-left: -415px;
        margin-top: 420px;
    }
}

.blur-content {
    filter: blur(18px);
}

.camera-overlay {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 100;
    width: 100vw;
    height: 100vh;
}


.preview-container {
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    // background: rgb(255 255 255 / 72%);
    // padding: 7%;
    padding: 5% 12% 18%;
    .preview-img {
        width: 100%; 
        height: auto;
        border: 2vw solid white;
        border-radius: 2vw;
    }
}

.qrcode-section {
    z-index: 120;
    position: fixed;
    bottom: 2%;
    left: 0;
    padding: 0%;
    width: 100vw;
    .qrcode-container {
        width: 100%;
        // background: rgb(65, 65, 255);
        border-radius: 1rem;
        text-align: center;
        font-size: 70px;
        color: white;
    }
}

.capture-loader {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    .capture-loader-count {
        font-size: 20vw;
        font-family: fantasy;
        text-align: center;
        margin-top: 27%;
        color: #28757d;
        img {
            width: 25rem;
            max-width: 50vw;
        }
    }
}
.capturing-effect {
    z-index: 120;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255 255 255 / 72%);
}