/* You can add global styles to this file, and also import other style files */


.cursor-pointer {
    cursor: pointer;
}

.app-fade {
    // animation-delay: 0.5s;
    animation: fadeDown 0.7s;
}

@-webkit-keyframes fadeDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}